{% extends 'base.html.twig' %}

{% block title %}{{ label }} une adresse{% endblock %}

{% block content %}
<h5 class="mb-3">
    <a href="{{ path('app_account_adress') }}" class="text-body">
        <i class="fa-solid fa-arrow-left"></i>
        &nbsp;Retour !
    </a>
</h5>
<div class="card bg-light">
<article class="card-body mx-auto" style="min-width: 600px;">
	<h4 class="card-title mt-3 text-center">{{ label }} une adresse</h4>

    {{ form_start(form, {'method': 'POST'}) }}

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-heading"></i> </span>
		 </div>
         {{ form_widget(form.name) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-regular fa-address-card"></i> </span>
		 </div>
         {{ form_widget(form.firstname) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-regular fa-address-card"></i> </span>
		 </div>
         {{ form_widget(form.lastname) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-industry"></i> </span>
		 </div>
         {{ form_widget(form.company) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-location-dot"></i></i> </span>
		 </div>
         {{ form_widget(form.adress) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-envelopes-bulk"></i> </span>
		 </div>
         {{ form_widget(form.postal) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-city"></i> </span>
		 </div>
         {{ form_widget(form.city) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-earth-asia"></i></i> </span>
		 </div>
         {{ form_widget(form.country) }}
        <!--input name="" class="form-control" placeholder="Full name" type="text"-->
    </div> <!-- form-group// -->   

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<!--select class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select-->
    	<!--input name="" class="form-control" placeholder="Phone number" type="text"-->
        {{ form_widget(form.indic) }}
        {{ form_widget(form.phone) }}
		{{ form_widget(form.submit, { 'label': label }) }}
    </div> <!-- form-group// -->   

    {{ form_end(form) }}

{#
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Full name" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select>
    	<input name="" class="form-control" placeholder="Phone number" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
</form>
#}
</article>
</div> <!-- card.// -->
{% endblock %}
